[Desktop Entry]
Categories=Office;Utility;TextEditor;
Comment=Desktop app for Simple Notes with WebDAV sync
Exec={exec} %u
Icon={icon}
Name={productName}
Terminal=false
Type=Application
StartupWMClass={productName}
MimeType=text/plain;text/markdown;
Keywords=notes;notizen;text;editor;checklist;sync;webdav;
