[Desktop Entry]
Categories=Office;Utility;TextEditor;
Comment=Desktop app for Simple Notes with WebDAV sync
Exec=simple-notes-desktop %u
Icon=simple-notes-desktop
Name=Simple Notes Desktop
Terminal=false
Type=Application
StartupWMClass=Simple Notes Desktop
MimeType=text/plain;text/markdown;
Keywords=notes;notizen;text;editor;checklist;sync;webdav;
